.footer {
    padding: 48px 0;

    &__container {
        text-align: center;

        &__img {
            display: flex;
            justify-content: center;

            @media (max-width: 768px) {
                display: block;
            }

            &__item {
                width: 200px;
                margin-left: 24px;
                margin-bottom: 24px;

                @media (max-width: 768px) {
                    margin-left: 0;
                }
            }
        }
    }
}