@use 'hero';
@use 'prize';
@use 'qualify';
@use 'players';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    color: white;
}

@mixin title($titleSize: 36px) {
    font-size: $titleSize;
    line-height: 110%;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: white;
}

.text {
    @include text;

    &--small {
        @include text(14px);
    }
}

.title {
    @include title;
    margin-bottom: 24px;

    &--small {
        @include title(24px);
        margin-bottom: 24px;

        &--no-margin {
            @include title(24px);
        }
    }

    &--large {
        @include title(48px);
        margin-bottom: 24px;

        @media (max-width: 768px) {
            @include title;
        }
    }

    &--no-margin {
        @include title;
    }
}

.subtitle {
    @include text(18px);
    font-weight: bold;
    margin-top: 8px;
}

.button {
    padding: 16px;
    color: white;
    background-color: #234d75;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: #234d75, $amount: 10%);
    }
}

.divider {
    padding: 24px 0;
    text-align: center;
}

.content {
    background-image: linear-gradient(#234d75, #001736);
}

.golden {
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange {
    color: orange;
}