@use 'hero';
@use 'prize';
@use 'qualify';
@use 'players';
@use 'footer';
@use 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 90%;
    }
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
    color: colors.$colorWhite;
}

@mixin title($titleSize: 36px) {
    font-size: $titleSize;
    line-height: 110%;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: colors.$colorWhite;
}

.text {
    @include text;

    &--small {
        @include text(14px);
    }
}

.title {
    @include title;
    margin-bottom: 24px;

    &--small {
        @include title(24px);
        margin-bottom: 24px;

        &--no-margin {
            @include title(24px);
        }
    }

    &--large {
        @include title(48px);
        margin-bottom: 24px;

        @media (max-width: 768px) {
            @include title;
        }
    }

    &--no-margin {
        @include title;
    }
}

.subtitle {
    @include text(18px);
    font-weight: bold;
    margin-top: 8px;
}

.button {
    padding: 16px;
    color: colors.$colorWhite;
    background-color: colors.$colorCapcomBlue1;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 100px;
    cursor: pointer;

    &:hover {
        background-color: lighten($color: colors.$colorCapcomBlue1, $amount: 10%);
    }
}

.divider {
    padding: 24px 0;
    text-align: center;
}

.content {
    background-image: linear-gradient(colors.$colorCapcomBlue1, colors.$colorCapcomBlue2);
}

.golden {
    background: colors.$colorGolden;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange {
    color: colors.$colorOrange;
}